/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: auto;
    padding: 0px;
    background-color: #ffe6a7;
    text-align: center;
    width: auto;
    height: 100%;
  }
  
  
  
  

/* Design */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.cabecalho {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 25px;
    width: auto;
    height: 158;
  }
  
  a {
    font-family: Poppins;
    font-size: 20px;
    color: #d67f2e;
  
    margin-right: 10px;
    text-decoration: none;
  }
  
  
  
  .logos {
    width: 85px;
    height: 85px;
  }
  

html {
    background-color: #ffcfa0;
}

body {
    color: #000;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0;
   
    text-align: center;
}



.main {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    font-weight: 400px;
    color: #d67f2e;
    text-align: center;
    text-shadow: 3px black;
}


img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    width: 300px;
}



.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 3px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}


.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 1rem;
    background-color: #d67f2eaf;
   
    

}

.card_title {
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
    text-align: center;
}

.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

.material_icons{
    color: #7d3b04;
}